<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @referencium.color %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @referencium.talla %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @referencium.categoria %>
</p>

<p>
  <strong>Ripo:</strong>
  <%= @referencium.ripo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @referencium.marca %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @referencium.descripcion %>
</p>

<p>
  <strong>Tela:</strong>
  <%= @referencium.tela %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @referencium.cantidad %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @referencium.costo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @referencium.precio %>
</p>

<%= link_to 'Edit', edit_referencium_path(@referencium) %> |
<%= link_to 'Back', referencia_path %>
