<h1>Todas las torres</h1>

<%= link_to "Crear torre", new_tower_path %>
<%= link_to "Ir a root", root_path %>
<ul>
<% @tower.each do |tower| %>
	<li>
	<%= tower.name %><%= link_to "Editar", edit_tower_path(tower) %><%= link_to "Eliminar", tower_path(tower) , method: :delete, data: { confirm: "Sure?"} %>
		<ul>
			<Li>
			<%= tower.guard %>		
			</Li>
		</ul>
	</li>
<% end %>	
</ul>