<h1>Nueva respuesta</h1>

<%= form_for @answer do |f| %>
	<%= f.label :student_id%>
	<%= f.select(:student_id, Student.all.collect {|u| [u.name, u.id]}) %>
	<%= f.label :homework_id%>
	<%= f.select(:homework_id, Homework.all.collect {|u| [u.text, u.id]}) %>
	<%= f.label :answer%>
	<%= f.text_field :answer%>
	<%= f.submit %>
<% end %>